.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.spacer {
    flex: 1;
}

.title{
    margin-left: 30px;
    font-size: 20px;
    cursor: pointer;
}

.username{
    padding-right: 20px;
}

.menu{
    margin-left: 20px;
}

.menu-itens{
    margin-left: 10px;
    color: white;
}