.title{
    font-weight: bold;
    font-size: 25px;
    padding-left: 20px;
}

.card{
    border: 1px solid #333333;
    box-shadow: 3px 3px 8px;
    border-radius: 10px;
    margin: 10px;
    width: 1000px;
    padding: 10px;
}

.row{
    display: flex;
}

.row-button{
    text-align: right;
    padding-right: 20px;
    margin-bottom: 20px;
}

.button-new{
    padding: 10px;
    border-radius: 5px;
    background-color: #1976D1;
    color: white;
    border: none;
}

.card-header{
    background-color: #1976d2;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-footer{
    margin-top: 5px;
    font-weight: bold;
    padding-left: 10px;
}

.col{
    flex: 1;
}
.data{
    text-align: right;
}

.table{
    margin-left: 20%;
    display: flex;
    text-align: left;
}

th, td {
    border-bottom: 1px solid #ddd;
}

.headerId{
    min-width: 150px;
}

.headerProduto{
    min-width: 300px;
}

.headerValor{
    min-width: 150px;
}