<div class="row">
    <div class="col">
        <span class="title"> Pedidos </span>
    </div>
   
    <div class="col row-button">
        <button class="button-new" (click)="abrirPaginaCadastro()">
            <span>Novo Pedido</span>
        </button>
    </div>
</div>


<div class="card" *ngFor="let pedido of listaPedidos">
    <div class="row card-header">
        <div class="col">
            Pedido {{pedido.id}} - {{pedido.cliente.nome}}
        </div>    
        <div class="col data">
            {{pedido.data}} - {{pedido.hora}}
        </div>
    </div>
    <div class="row table">
        <table>
            <tr>
              <th class="headerId">Id</th>
              <th class="headerProduto">Produto</th>
              <th class="headerValor">Valor</th>
            </tr>
            <tr *ngFor="let produto of pedido.listaProdutos">
              <td>{{produto.id}}</td>
              <td>{{produto.nome}}</td>
              <td>R$ {{produto.valor}}</td>
            </tr>
        </table>
    </div>
    <div class="row card-footer">
        <div class="col">
            Valor total: {{pedido.valor}}
        </div>
    </div>
</div>
